<div id="manager-header" class="row">
    <h2>
        <strong *ngIf="managerTypeName">{{managerTypeName}} 관리 </strong>

        <small *ngIf="vhostNode">{{vhostNode.text}}</small>
        <small *ngIf="!vhostNode">서버정보 탭에서 VHost나 Application을 선택하세요</small>
    </h2>
</div>
<div class="row">
    <div *ngIf="managerTypeName">
        <div class="col-md-9">
            <router-outlet></router-outlet>
            <!--<tab-panels class="tab-content" #tabPanels
                        [tabNames]="tabNames" [panelClasses]="'tab-pane fade'" [activePanelClasses]="'in active'">
                <tab-panel>
                    <manager-streamfiles></manager-streamfiles>
                </tab-panel>
                <tab-panel>
                    <div>탭패널2</div>
                </tab-panel>
                <tab-panel>
                    <div>탭패널3</div>
                </tab-panel>
            </tab-panels>-->
        </div>
        <div class="col-md-3">
            <nav class="list-group">
                <a *ngFor="let tabName of getTabNames().tabs" [routerLink]="[tabName.urlName, vhostNode.id]" routerLinkActive="active" class="list-group-item">{{tabName.name}}</a>
             </nav>
            <!--<tabs [tabsClasses]="'list-group'"
                  [tabClasses]="'list-group-item'"
                  [activeClass]="'active'"
                  [tabNames]="tabNames"
                  (selectTabEvent)="tabPanels.setActivePanel($event)">
            </tabs>-->

        </div>
        <!--<ul id="manager-sidebar" class="col-md-3 list-group">
            <li class="list-group-item" href="#manager-streamfiles" data-toggle="tab" data-item="streamfiles" data-type="text"><a class="active" href="#manager-streamfiles">스트림 파일</a></li>
            <li class="list-group-item" href="#manager-transcoder" data-toggle="tab" data-item="transcoder" data-type="text">트랜스코딩</li>
            <li class="list-group-item" href="#" data-toggle="tab">Link1</li>
            <li class="list-group-item" href="#" data-toggle="tab">Link1</li>
            <li class="list-group-item" href="#" data-toggle="tab">Link1</li>
            <li class="list-group-item" href="#" data-toggle="tab">Link1</li>
            <li class="list-group-item" href="#" data-toggle="tab" (click)="onClick()">Link1</li>
        </ul>-->
    </div>

</div>