<div id="manager-header" class="row">
    <h2><strong>관리자 기능 </strong><small>스트림 파일</small></h2>
</div>
<div class="row">
    <div id="live-manager">
        <div class="col-md-9">
            <manager-streamfiles id="manager-streamfiles" class="tab-pane fade in active"></manager-streamfiles>
            <div id="manager-transcoder" class="tab-pane fade">

            </div>
        </div>
        <div id="manager-sidebar" class="col-md-3 list-group">
            <a class="list-group-item active" href="#manager-streamfiles" data-toggle="tab" data-item="streamfiles" data-type="text">스트림 파일</a>
            <a class="list-group-item" href="#manager-transcoder" data-toggle="tab" data-item="transcoder" data-type="text">트랜스코딩</a>
            <a class="list-group-item" href="#" data-toggle="tab">Link1</a>
            <a class="list-group-item" href="#" data-toggle="tab">Link1</a>
            <a class="list-group-item" href="#" data-toggle="tab">Link1</a>
            <a class="list-group-item" href="#" data-toggle="tab">Link1</a>
            <a class="list-group-item" href="#" data-toggle="tab">Link1</a>
        </div>
    </div>

</div>