<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand">Video Management System</a>
        </div>
        <div class="collapse navbar-collapse" id="vms-navbar">
            <nav-tabs [tabNames]="tabNames"></nav-tabs>
        </div>
    </div>
</nav>
<div class="container-fluid main-container">
    <div class="row row-md-1">

        <!--좌측 사이드바-->
        <div class="col-md-3 sidebar">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#tab1" data-toggle="tab">서버정보</a></li>
                <li><a href="#tab2" data-toggle="tab">영상접속정보</a></li>
                <li><a href="#tab3" data-toggle="tab">탭3</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    <vhost-jstree [jsTreeOpt]="vhostJsTreeOpt"></vhost-jstree>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <conn-jstree [jsTreeOpt]="connJsTreeOpt"></conn-jstree>
                </div>
                <div class="tab-pane fade" id="tab3">tab3 pane</div>
            </div>
        </div>

        <!--메인 패널-->
        <div class="tab-content">
            <!--Streaming 패널-->
            <players [name]="tabNames[0]" [num]="9" [idPrefix]="playerIdPrefix" [playerOpt]="playerOpt" class="col-md-9 tab-pane fade in active maincontent" id="monitoring"></players>

            <!--DVR 패널-->
            <div class="col-md-9 tab-pane fade" id="dvr">
                <div class="row">
                    <div class="col-md-9">
                        <div id="video10" class="vms-video"></div>
                    </div>
                </div>
            </div>

            <!--Manager 패널-->
            <manager-pane [name]="tabNames[2]" class="col-md-9 tab-pane fade" id="manager"></manager-pane>
        </div>

    </div>
</div>
